/* App.css */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-height: 100vh;
}

.wrapper {
  text-align: center;
  margin-top: 20px; /* Adjust the margin based on your preference */
}
